doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parking
  h1(style='color: darkgreen') DOCKVILLE DAY AND NIGHT PARKING
  link(rel='stylesheet' href='./public/css/bootstrap.css')
  link(rel='stylesheet' href='./public/css/parking.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link(href='#') About us
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Dropdown
            ul.dropdown-menu
              li
                a.dropdown-item(href='#') Parking
              li
                a.dropdown-item(href='#') Tire clinic
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Battery section
        form.d-flex(role='search')
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success(type='submit')
            | Search
  h2(style='color: darkgreen') Parking areas available
.parking
  .row.row-cols-1.row-cols-md-2.g-4
    .col
      .card
        h5.card-title Taxi
        img.card-img-top(src='public/images/taxi.webp' alt='...')
        .card-body
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' value='')
            label.form-check-label(for='flexCheckDefault')
              | Day Ugshs.3000
          .form-check
            input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
            label.form-check-label(for='flexCheckChecked')
              | Night Ugsh.3000
          .form-check
            input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
            label.form-check-label(for='flexCheckChecked')
              | Day and Night Ugsh.5000
          //
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Day</li>
            <li class="list-group-item">Night</li>
            <li class="list-group-item">3 hours</li>
            </ul>
          a.card-link(href='taxi.html') Book Now
    .col
      .card
        h5.card-title Trucks
        img.card-img-top(src='public/images/Truck.jpg' alt='...')
        .card-body
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' value='')
            label.form-check-label(for='flexCheckDefault')
              | Day Ugshs.3000
          .form-check
            input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
            label.form-check-label(for='flexCheckChecked')
              | Night Ugsh.3000
          .form-check
            input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
            label.form-check-label(for='flexCheckChecked')
              | Day and Night Ugsh.5000
          //
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Day</li>
            <li class="list-group-item">Night</li>
            <li class="list-group-item">3 hours</li>
            </ul>
          a.card-link(href='truck.html') Book Now
    .col
      .card
        h5.card-title Personal Cars
        img.card-img-top(src='public/images/Toyota.jpg' alt='...')
        .card-body
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' value='')
            label.form-check-label(for='flexCheckDefault')
              | Day Ugshs.3000
          .form-check
            input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
            label.form-check-label(for='flexCheckChecked')
              | Night Ugsh.3000
          .form-check
            input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
            label.form-check-label(for='flexCheckChecked')
              | Day and Night Ugsh.5000
          //
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Day</li>
            <li class="list-group-item">Night</li>
            <li class="list-group-item">3 hours</li>
            </ul>
          a.card-link(href='car.html') Book Now
    .col
      .card
        h5.card-title Boda Bodas
        img.card-img-top(src='public/images/boda.jpg' alt='...')
        .card-body
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' value='')
            label.form-check-label(for='flexCheckDefault')
              | Day Ugshs.3000
          .form-check
            input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
            label.form-check-label(for='flexCheckChecked')
              | Night Ugsh.3000
          .form-check
            input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
            label.form-check-label(for='flexCheckChecked')
              | Day and Night Ugsh.5000
          //
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Day</li>
            <li class="list-group-item">Night</li>
            <li class="list-group-item">3 hours</li>
            </ul>
          a.card-link(href='boda.html') Book Now
      .col
        .card
          h5.card-title Coaster
          img.card-img-top(src='public/images/coaster.jpg' alt='...')
          .card-body
            .form-check
              input#flexCheckDefault.form-check-input(type='checkbox' value='')
              label.form-check-label(for='flexCheckDefault')
                | Day Ugshs.3000
            .form-check
              input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
              label.form-check-label(for='flexCheckChecked')
                | Night Ugsh.3000
            .form-check
              input#flexCheckChecked.form-check-input(type='checkbox' value='' checked='')
              label.form-check-label(for='flexCheckChecked')
                | Day and Night Ugsh.5000
            //
              <ul class="list-group list-group-flush">
              <li class="list-group-item">Day</li>
              <li class="list-group-item">Night</li>
              <li class="list-group-item">3 hours</li>
              </ul>
            a.card-link(href='coaster.html') Book Now
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
