doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Password reset
  link(rel='stylesheet' href='public/css/password.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
h1(style='color: darkgreen') DOCKVILLE DAY AND NIGHT PARKING
nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link(href='#') About us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Dropdown
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Action
            li
              a.dropdown-item(href='#') Another action
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#') Something else here
      form.d-flex(role='search')
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit')
          | Search
p Please enter your email below to reset your password.
form.reset(action='reset.php' method='post')
  label(for='email') Email or phone Number
  input#email(type='email' name='email')
  input(type='submit' value='Reset')
  input(type='reset' value='Cancel')
  p We sent a six digit code to verify your email or phone Number
  .form-group
    label(for='entercode') Enter six digit code:
    input#entercode(type='text' name='name')
form#password-reset-form
  #alert
  label(for='password') New password
  input#password(type='password')
  label(for='password-verify') Confirm password
  input#password-verify(type='password')
  button(type='submit') Reset password
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
