body{
  background-image: url('/public/images/spla.avif');
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

 
  

.login-form {
  width: 500px;
  margin: 50px auto;
}

.navbar navbar-expand-lg bg-body-tertiary{
  background-color: black;
}


