*{
  padding: 0;
  
 
}


body {
  
  background-image: url('../images/spla.avif');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 3px solid;
  height: 100%;
  width: 500px; 
}