* {
  padding: 0;
  margin: 0;
  
}



.container-fluid {
  background-color: grey;
}

 body {
  padding: 8px;
  margin: 8px ;
  display: block;
  
} 

h1{
  text-align: center;
  font-size: larger;
  font-weight: bold;
  
  
}


 

.container {
  max-width: 400px;
  margin: 8px auto;
  padding: 20px;
  background-color: grey;
  border: 1px solid #ccc;
  border-radius: 5px;
}





.form-group {
  margin-bottom: 15px;
  /* width: 500px; */
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button
 {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: navajowhite;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #45a049;
}

.user-image{
  width: 500px;
  border-radius: 5px;
  size: 50cm;
  height: 500px;
}


body{
  background-image: url('/public/images/spla.avif');
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* .parking{
  width:50px;
  height: 50%;
  border-radius: 5px;
  padding: 0px;

  
}

.clinic {
  width: 1px;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
}


.battery{
  width: 5px;
  height: 10%;
  border-radius: 5px;
  padding: 0px;

}

.services{
  padding: 0;
  margin: 2px;
  background-color: plum;
}
 */





.model{
  padding: 0;
  margin: 0;
  width: 500px;
  height: 100px;
  background-color: grey;
}

.car-number{
  padding: 0;
  margin: 0;
  width: 500px;
  height: 100px;
  background-color: grey;

}

.car-color{
  padding: 0;
  margin: 0;
  width: 500px;
  height: 100px;
  background-color: grey;
}

.date{
  padding: 0;
  margin: 0;
  width: 500px;
  height: 100px;
  background-color: grey;
}

.time{
  padding: 0;
  margin: 0;
  width: 500px;
  height: 100px;
  background-color: grey;


}
.services img{
  width: 500px;


}


                                  

