body{
  padding: 0;
  width: 100px;

}

.form-group {
  margin-bottom: 15px;
  padding: 10px;
  /* width: 1000px; */
  /* height:500px; */

}

body{
  background-image: url('/public/images/spla.avif');
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}